<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Python </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Databases</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Web Scraping and Data Cleaning</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Visualization</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
			<div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Wordpress</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Office Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>SharePoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->   
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Fitness</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Sport</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Soft Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Interpersonal Skills</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Creative Thinking </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Problem Solving</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
			
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Critical Thinking</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            
            <!-- /.skillbar -->
        </div>
        
        
        
		<!-----------------------------------------------------------------------------trial-----------------!>
		  <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Ongoing Certification</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
             <li class="first">
			 
                <h5>Introduction to Data Science in Python <span class="duration"><i class="fa fa-calendar color"></i> August 25, 2018</span></h5>
                <h6><span class="fa fa-trophy"></span> Coursera - University of Michigan</h6>
                <p><strong>Course Outcome:</strong>Effictively use python libraries to tabulate,clean,maipulate and run inferential statistical analysis.</p>
				<a href="https://www.coursera.org/learn/python-data-analysis/home/info"> View Course</a>
            </li>
			 <li >
			 
                <h5>Data Visualization<span class="duration"><i class="fa fa-calendar color"></i> August 28, 2018</span></h5>
                <h6><span class="fa fa-trophy"></span> Coursera - University of Illinois at Urbana-Champaign</h6>
                <p><strong>Course Outcome:</strong>Strengthen Data Visualization knowledge in order to recognize patterns on massive transactional data.Understand pattern evaluation measures and methods for diverse kinds of patterns, sequential patterns and sub-graph pattern.</p>
				<a href="https://www.coursera.org/learn/datavisualization/home/info"> View Course</a>
            </li>
            <li>               
			   <h5>Machine Learning <span class="duration"><i class="fa fa-calendar color"></i> September 3, 2018</span></h5>
                <h6><span class="fa fa-trophy"></span> Coursera - Stanford</h6>
                <p> <strong>Course Outcome:</strong> Understand and apply learning algorithms to build smart robots,text understanding,computer vision,audio, database mining and medical informatics. </p>
				<a href="https://www.coursera.org/learn/machine-learning/home/info"> View Course</a>
           
		   </li>
            <li>
                <h5>R-programming <span class="duration"><i class="fa fa-calendar color"></i> September 5, 2018</span></h5>
                <h6><span class="fa fa-trophy"></span> Coursera - John Hopkins University</h6>
                <p><strong>Course Outcome:</strong>Implement R packages, write R functions,debugging, profiling R code and use R to perform statistical analysis.</p>
				<a href="https://www.coursera.org/learn/r-programming/home/info"> View Course</a>
            </li>
        </ul>
        <!-- /.attributes -->
        <br> 
		<!--------------trial end-------------------!>
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="https://drive.google.com/file/d/15chyLfnem3FXSErAZhSJy35-uPPgTwC9/view?usp=sharing">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Data Analytics & Research Intern <span class="duration"><i class="fa fa-calendar color"></i> <br> May 2017 - December 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> Diadeis</h6>
                <p>• Engineered business requirements and project objectives leading to a 30% increase in data processing productivity. 
 <br>• Articulated insights and anticipated trends with linear regression techniques on consumer’s goods data. 
 <br>• Partnered with cross-functional teams to deliver insight into customer behavior based on the segmentation of data. 
 <br>• Inflated marketing initiatives and UI design which resulted in client retention by more than 47%.</p>
            </li>
            <li>
                <h5>Front-End Developer <span class="duration"><i class="fa fa-calendar color"></i> December 2016 - May 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> Startupcruise</h6>
                <p>Worked on design, code and the functionalities of the website. <br> A website primary aim was to simplify the human work by allowing him to explore all the event/marriage related necessities.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>MS in Applied Data Science<span class="duration"><i class="fa fa-calendar color"></i> 2018 - Present</span></h5>
                <h6><span class="fa fa-book"></span> Syracuse University - The iSchool</h6>
                <p>Graduate student.<br>
				<strong>Coursework:</strong> Data Analysis and decision making, Introduction to Data Science, Business Analytics, Data Administration and database Management, Communication for Information Professionals.</p>
            </li>
            <li>
                <h5>Bachelor of Technology -IT<span class="duration"><i class="fa fa-calendar color"></i> 2014 - 2018</span></h5>
                <h6><span class="fa fa-book"></span> K.J.Somaiya College Of Engineering</h6>
                <p> <strong>Coursework:</strong> Advanced Databases, Data Mining, Big Data Analytics, Software Project Management, Cloud computing, E-commerce and E-business.</p>
				<p>Worked as Jt.Sports Secretary in Students' Council of K.J.S.C.E.</p><p>
				Played Basketball for the college team as the point guard.</p><p>
				Organized Industrial Visit to Sikkim,India for the college students.</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Certification</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
			
			 
                <h5>SQL for Data Science <span class="duration"><i class="fa fa-calendar color"></i> July 25, 2018</span></h5>
                <h6><span class="fa fa-trophy"></span> Coursera - University of California, Davis</h6>
                <p>Learned the fundamentals of SQL and started working with data to begin analyzing it for data science purposes. Understood the basic skills in SQL. Now, I'm able to write both simple and complex queries to select data from tables.</p>
				<a href="ht	coursera.org/account/accomplishments/verify/XKVMEXM7PDQQ"> View Certificate</a>
            </li>
            <li>
			<h5>Data-driven Decision Making <span class="duration"><i class="fa fa-calendar color"></i> June 30, 2018</span></h5>
                <h6><span class="fa fa-trophy"></span> Coursera - PwC</h6>
                <p>Introduced to Data Analytics and its role in business decisions.Learned why data is important and how it has evolved.Was introduced to “Big Data” and how it is used.
				Got a brief overview about the framework for conducting Data Analysis and what tools and techniques are commonly used. Finally, I had a chance to put my knowledge to work in a simulated business setting.</p>
				<a href="https://www.coursera.org/account/accomplishments/certificate/8U4N2G3F8KVV"> View Certificate</a>
           
		   </li>
             <li>
                <h5>Customer Analytics <span class="duration"><i class="fa fa-calendar color"></i>September 5, 2017</span></h5>
                <h6><span class="fa fa-trophy"></span> Coursera - The Wharton Business School</h6>
                <p>Understood how data about consumers - customer analytics - is used to make smart and effective marketing decisions. It’s part of Wharton's Business Analytics Specialization which was created to gain a competitive edge.</p>
				<a href="https://www.coursera.org/account/accomplishments/certificate/QAEDT3V7JU9Z"> View Certificate</a>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->
