<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Projects</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li>
                <span class="filter active" data-filter="catWeb catReact js-jquery bootstrap catgis node catd3">All</span>
            </li>
            <li>
                <span class="filter" data-filter="catWeb">H1B Data Analysis</span>
            </li>
            <li>
                <span class="filter" data-filter="node">Twitter-Sentiment Analysis</span>
            </li>
            <li>
                <span class="filter" data-filter="catReact">Zomato EDA</span>
            </li>
            <li>
                <span class="filter" data-filter="catd3">Lung Cancer Detection</span>
            </li>
            <li>
                <span class="filter" data-filter="js-jquery">Uber Data Analysis</span>
            </li>
            <li>
                <span class="filter" data-filter="catgis">Linear-regression-Scikit-Learn(Basic)</span>
            </li>
            <li>
                <span class="filter" data-filter="bootstrap">Random-Forest-Classifier-Scikit-Learn</span>
            </li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catWeb node bootstrap js-jquery" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/yelpcamp.png" onclick="window.open('https://github.com/harshdarji23/data_Analysis-H1B-visa', '_blank');" rel="portfolio"
                        title="Click to view live demo">
                        <img src="images/portfolio/yelpcamp.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">H1B-visa</a>
                                <span class="text-category">Python, Pandas, Numpy, Seaborn</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb node js-jquery" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/node-stores.png" onclick="window.open('https://github.com/harshdarji23/Twiiter-Sentiment-Analysis', '_blank');" rel="portfolio"
                        title="Click to view live demo">
                        <img src="images/portfolio/node-stores.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Twiiter-Sentiment-Analysis</a>
                                <span class="text-category">Python, Tweepy, Textblob,Matplotlib</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio node catReact catWeb" data-cat="catReact">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/expensify.png" onclick="window.open('https://github.com/harshdarji23/Zomata-EDA', '_blank');"
                        rel="portfolio" title="Click to view live demo">
                        <img src="images/portfolio/expensify.png" alt="Weatherette" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Zomata-EDA</a>
                                <span class="text-category">Tableau, json, Ms-Excel</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio bootstrap catWeb" data-cat="bootstrap">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/gridland.png" onclick="window.open('https://www.kaggle.com/hdarji/first-pass-through-data-w-3d-convnet-7b16f1', '_blank');" rel="portfolio" title="Click to view live demo">

                        <img src="images/portfolio/gridland.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Lung Cancer Detection</a>
                                <span class="text-category">Convolutional Neural Network, Anaconda,Kaggle</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catd3" data-cat="catd3">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/calgaryd3map.png" onclick="window.open('https://github.com/harshdarji23/data_analysis-uber/blob/master/uber_data_analysis.ipynb', '_blank');" rel="portfolio"
                        title="Click to view live demo">

                        <img src="images/portfolio/calgaryd3map.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Uber Data Analysis</a>
                                <span class="text-category">Python,Visualization,Pandas,Seaborn</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/natours.jpg" onclick="window.open('https://github.com/harshdarji23/Linear-regression-Scikit-Learn/blob/master/sklearn%20linear%20regression.ipynb', '_blank');" rel="portfolio"
                        title="Click to view live demo">

                        <img src="images/portfolio/natours.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Linear-regression-Scikit-Learn</a>
                                <span class="text-category">Python, Scikit-Learn, Jupyter Notebook</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb node catReact" data-cat="catReact">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/recipeapp.png" onclick="window.open('https://github.com/harshdarji23/Random-Forest-Classifier-Scikit-Learn/blob/master/Sklearn%20Rndom%20forest%20(digit%20recognition).ipynb', '_blank');" rel="portfolio"
                        title="Click to view live demo">

                        <img src="images/portfolio/recipeapp.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Random-Forest-Classifier-Scikit-Learn</a>
                                <span class="text-category">Python, Scikit-Learn, Matplotlib,Jupyter Notebook</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb node catReact" data-cat="catReact">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/flagapp.png" onclick="window.open('https://gsync.github.io/flagapp', '_blank');" rel="portfolio"
                        title="Click to view live demo">

                        <img src="images/portfolio/flagapp.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">React Flag Quiz App</a>
                                <span class="text-category">HTML, CSS, React</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb node catReact" data-cat="catReact">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/memorygame.png" onclick="window.open('https://gsync.github.io/memorygame', '_blank');" rel="portfolio"
                        title="Click to view live demo">

                        <img src="images/portfolio/memorygame.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">React Memory Game</a>
                                <span class="text-category">HTML, CSS, React</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb js-jquery" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/colorGame.png" onclick="window.open('https://gsync.github.io/colorGame/', '_blank');" rel="portfolio"
                        title="Click to view live demo">
                        <img src="images/portfolio/colorGame.png" alt="Sonor's Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Color Guessing Game</a>
                                <span class="text-category">Javascript, CSS, HTML</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb js-jquery" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/startup.png" onclick="window.open('https://gsync.github.io/startupdemo', '_blank');" rel="portfolio"
                        title="Click to view live demo">
                        <img src="images/portfolio/startup.png" alt="Typography Company" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Startup Marketing Site</a>
                                <span class="text-category">Javascript, CSS, Flexbox, HTML</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb js-jquery" data-cat="js-jquery">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/todolist.png" onclick="window.open('https://gsync.github.io/todolist', '_blank');" rel="portfolio"
                        title="Click to view live demo">
                        <img src="images/portfolio/todolist.png" alt="Weatherette" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">TodoList</a>
                                <span class="text-category">JQuery, CSS, HTML</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio node catReact catWeb" data-cat="catReact">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/github-battle_screenshot.png" onclick="window.open('https://github.com/Gsync/github-battle', '_blank');"
                        rel="portfolio" title="Click to view source code">
                        <img src="images/portfolio/github-battle_screenshot.png" alt="Weatherette" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Github Battle</a>
                                <span class="text-category">React, Axios, Webpack, CSS, HTML</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catgis" data-cat="catgis">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/gis-collect_screenshot.png" onclick="window.open('https://github.com/Gsync/gisCollectApp', '_blank');"
                        rel="portfolio" title="Click to view source code">
                        <img src="images/portfolio/gis-collect_screenshot.png" alt="Weatherette" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">GIS Data Collect App</a>
                                <span class="text-category">GIS, Dojo, ArcGIS Online</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catReact" data-cat="catReact">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/quizapp_screenshot.png" onclick="window.open('https://github.com/Gsync/react-quizApp', '_blank');"
                        rel="portfolio" title="Click to view source code">
                        <img src="images/portfolio/quizapp_screenshot.png" alt="Weatherette" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Quiz App</a>
                                <span class="text-category">React, CSS, HTML</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catd3" data-cat="catd3">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/d3-bar-chart.png" onclick="window.open('https://codepen.io/khuram/full/POdQxz/', '_blank');" rel="portfolio"
                        title="Click to view live demo">
                        <img src="images/portfolio/d3-bar-chart.png" alt="d3 Bar Chart" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">d3 Bar Chart</a>
                                <span class="text-category">d3</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catd3" data-cat="catd3">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/d3-scatterplot.png" onclick="window.open('https://codepen.io/khuram/full/WXLpZy/', '_blank');"
                        rel="portfolio" title="Click to view live demo">
                        <img src="images/portfolio/d3-scatterplot.png" alt="d3 Scatterplot" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">d3 Scatterplot</a>
                                <span class="text-category">d3</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio js-jquery" data-cat="js-jquery">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/wikipedia-viewer.png" onclick="window.open('https://gsync.github.io/wikipediaViewer/', '_blank');"
                        rel="portfolio" title="Click to view live demo">
                        <img src="images/portfolio/wikipedia-viewer.png" alt="Wikipedia Viewer" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Wikipedia Viewer</a>
                                <span class="text-category">Javascript</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->